.header {
	height: 95vh;
	background-image: linear-gradient(
			to right bottom,
			rgba($color-primary-light, 0.8),
			rgba($color-primary-dark, 0.8)
		),
		url(../img/hero.jpg);
	background-size: cover;
	background-position: top;
	position: relative;

	-webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

	&__logo-box {
		position: absolute;
		top: 4rem; /* 18) equals to 40px because of the root font-size (html) */
		left: 4rem; /* 18) equals to 40px because of the root font-size (html) */
	}

	&__logo {
		height: 3.5rem; /* 18) equals to 35px because of the root font-size (html) */
	}

	&__text-box {
		position: absolute;
		top: 40%; /* 7) En relación al position del parent element -header */
		left: 50%; /* 7) En relación al position del parent element -header */
		transform: translate(
			-50%,
			-50%
		); /* 7) En relación a su ppia coordenada/ubicación */

		text-align: center; /* 9) Porque los elementos within son inline or inline-block elements, uno puede usar esta property para alinearlos horizontalmente */
	}
}
